body{
  height: 100%;}

.calto{height: 100px;width: 154px;border-radius: 90%;}

ul.list{
  display: flex;
  justify-content: flex-end;
     padding: 0;
     margin: 0;
     list-style-type: none;
     color: white;
 }
 ul.list li a{
     display: inline-block;
     width: 30px;
     height: 30px;
     border-radius: 100px;
     text-align: center;
     color: #fff;
     padding: 5px;
 }
 ul.list li{
     margin-right: 3px;
 }
 
 ul.list li a.fa.fa-facebook{
     background-color: blue;
 }
 
 ul.list li a.fa.fa-twitter{
     background-color: skyblue;
 }
 
 ul.list li a.fa.fa-google-plus{
     background-color: red;

 }

 ul.list li a.fa.fa-pinterest-p{
  background-color:pink;
}



.navbg{
  background-color: #840b2a;
  height: 100%;
}


nav {    
    display: block;
    text-align: center;

    /* min-height: 320px; */
    min-width: 0px;
    background-repeat: no-repeat;
    background-size: cover;
 
  }
  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }
  .nav a {
    display:block; 
    background: #440606; 
    color: #fff; 
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgb(233, 160, 160);
    position: relative;
  }
  .nav{  
    vertical-align: top; 
    display: inline-block;}

    .nav > li { 
      float: left; 
      border-bottom: 4px #440606 solid; 
      border-top: 4px #440606 solid; 
      margin-right: 1px;
      border-radius: 20px; 
    } 
  



  .d-block{height: 400px;}

  .breakfast{height: 273px;}

  .footcolor{color: white;margin-bottom: 0; background-color: #840b2a;background-size: cover;}


  .menucolor{color:rgb(85, 73, 5);}

  .textcolor{color:rgb(85, 73, 5);}

  #map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }

  .indiflower{font-family: 'Indie Flower', cursive;}

  .pacifico{font-family: 'Pacifico', cursive;}

  .dancingscript{font-family: 'Dancing Script', cursive;}

  .liu{font-family: 'Liu Jian Mao Cao', cursive;}

  .container-fluid .pacifico {padding: 0;}



  @media only screen and (max-width: 1000px){

  #nav-toggle {
    display: none;
}

#navbar ul li {
  display: inline-block;
  padding: 0 10px;
}

#navbar ul {
  display: none;
}

#navbar input:checked~ul {
  display: block;
}

}


